<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Taak'In</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="breadcrumbs menu">
        <li><a href="{{ url('dashboard') }}">Home</a></li>
        <li>
          <a href="{{ url('new-user') }}">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            New User
          </a>
        </li>
        <li>
          <a href="{{ url('user-list') }}">
            <i class="fa fa-users" aria-hidden="true"></i>
            Users
          </a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">

      <ul class="breadcrumbs menu">
        <li>
          <div class="top-bar-title">
            <strong>username:</strong>
            <em>Gonzalo</em>
          </div>
        </li>
        <li>
          <a href="{{ url('logout') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
