$font-size-9px: rem-calc(9);
$font-size-10px: rem-calc(10);
$font-size-12px: rem-calc(12);
$font-size-14px: rem-calc(14);
$font-size-16px: rem-calc(16);
$font-size-18px: rem-calc(18);
$font-size-19px: rem-calc(19);
$font-size-22px: rem-calc(22);
$font-size-24px: rem-calc(24);
$font-size-26px: rem-calc(26);
$font-size-28px: rem-calc(28);
$font-size-30px: rem-calc(30);
$font-size-32px: rem-calc(32);
$font-size-34px: rem-calc(34);
$font-size-36px: rem-calc(36);


$charcoal    : #575757;
$smoke       : #ececec;
$monsoon     : #6d6d6d;
$iron 	     : #c0c0c0;
$tuatara     : #4d4d4d;
$oil         : #333333;
$steel       : #c2c2c2;
$vapor       : #e6e6e6;
